.user-menu-btn{
    width: 64px;
    height: 40px;
    border: none;
    font-size: 20px;
    background-color: transparent;
    color: white;
    background-image: url("user-avatar.svg");
    background-position: left;
    background-repeat: no-repeat;
    position: relative
}
.user-menu-btn:hover{
    cursor: pointer;
}
.user-menu-btn--closed::before, .user-menu-btn--closed::after{
    content: '';
    position: absolute;
    top: 18px;
    width: 9px;
    height: 2px;
    background-color: white;
}
.user-menu-btn--closed::before{
    transform: rotate(45deg);
    right: 11px;
}
.user-menu-btn--closed::after{
    transform: rotate(-45deg);
    right: 6px;
}
.user-menu-btn--opened::before, .user-menu-btn--opened::after{
    content: '';
    position: absolute;
    top: 18px;
    width: 9px;
    height: 2px;
    background-color: white;
}
.user-menu-btn--opened::before{
    transform: rotate(-45deg);
    right: 11px;
}
.user-menu-btn--opened::after{
    transform: rotate(45deg);
    right: 6px;
}